
## 環境代碼 （二進位有無碼）
# Linux    1
# Cygwin   2
#---


## 執行時期
# 1. `ysBash plant`
#   * `IMPORT`
#     * `ln -s [[ysPath]]/lib.capp/模組名/bin/file`
#     * 建立 "[[plantHome]]/capp/ysBash.build"
#     * 建立 "[[plantHome]]/capp/ysBash.bashrc"
#   * 完成 `LINK` 命令設定
# 2. `ysBash plant build`
#   * 執行 "[[ysPath]]/capp/ysBash.build"
#       * `sh [[ysPath]]/lib.capp/模組名/ysBashBuild/env-file`
#       * `sh [[ysPath]]/lib.capp/模組名/ysBashBuild/install-file`
# 3. 載入 ".bashrc"
#   * 完成 `PATH` 命令設定
#   * 執行被引入模組的設定
#     * `source [[ysPath]]/lib.capp/模組名/bashrcSource/completion-file`
#     * `__ysBashComplete_register [[ysPath]]/lib.capp/模組名/bashrcSource/completion-file.cmdEnum`
#     * `source [[ysPath]]/lib.capp/模組名/bashrcSource/file`
#     * `sh [[ysPath]]/lib.capp/模組名/bashrcSh/file`
#   * 完成 `SRCMD` 命令設定
#   * 完成 `OTHER BySelf` 命令設定
#---


## 對齊文字
# `xxx ----*= yyy`,  ex: `xxx ---= yyy`   =>  xxx yyy
# `xxx =----*= yyy`, ex: `xxx =---= yyy`  =>  xxxyyy
#---


## 變數
# 用途：
#   本文件通用的替代參數。
# 語法說明：
#    語法                       | 參數語法      | 替換值
#   ---                         | [[HOME]]      | /home/username ($HOME)
#   ---                         | [[ysPath]]    | Ys 目錄路徑    ($HOME/ys)
#   ---                         | [[plantHome]] | 環境家目錄路徑 ($HOME/ys/envfile/環境家目錄名)
#   var arguName path/to/target | [[var]]       | path/to/target
#---
# var win_ProgramFile86 ---= /cygdrive/c/Program Files (x86)
# var win_UserProFile -----= /cygdrive/c/Users/bwaycer


## 設置載入程式庫列表
# 用途：
#   將模組內有效目錄文件的內容做環境載入前處理。
# 有效目錄：
#   ─┬ 模組
#    ├── bin/                     : 環境變數文件目錄。
#    ├─┬ ysBashBuild/
#    │ ├── env-*                  : 在初始環境中變更所需設定。
#    │ └── install-*              : 在初始環境中安裝所需工具。
#    ├─┬ bashrcSource/
#    │ ├── completion-*           : 命令自動補齊。
#    │ ├── completion-*.cmdEnum   : 命令列舉的命令自動補齊文件。
#    │ └── *                      : 載入 ".bashrc" 時，以 `source` 命令執行。
#    └─┬ bashrcSh/
#      └── *                      : 載入 ".bashrc" 時，以 `sh` 命令執行。
# 語法說明：
#   `環境代碼 IMPORT 模組名`
#     - 環境： 依環境代碼識別
#     - 模組路徑： [[ysPath]]/lib.capp/模組名
#---
# ex: 3 IMPORT moduleName
3 IMPORT baseSet
3 IMPORT shbase
3 IMPORT envtree
1 IMPORT dockTool
3 IMPORT shTool
3 IMPORT bashSet
2 IMPORT make.cygwin
3 IMPORT nodeApp


## 設置鏈結文件列表
# 用途：
#   建立鏈結文件。 常用於建立第三方模組的鏈結。
# 語法說明：
#   `環境代碼 LINK 鏈結的文件名 被鏈結的文件路徑`
#     - 環境： 依環境代碼識別
#     - 相當於命令： `ln -s 被鏈結的文件路徑 [[ysPath]]/capp/bin/鏈結的文件名`
#---
# ex: 3 LINK linkName path/to/execFile


## 設置環境變數列表
# 用途：
#   建立環境變數路徑。
# 語法說明：
#   `環境代碼 PATH 環境變數目錄路徑`
#     - 環境： 依環境代碼識別
#     - 相當於命令： `PATH="$PATH:環境變數目錄路徑"`
#---
# ex: 3 PATH path/to/binDir
3 PATH [[HOME]]/capp/bin
3 PATH [[ysPath]]/gitman/bin


## 指令集列表
# 用途：
#   載入 ".bashrc" 時會執行所指定的命令。
# 語法說明：
#   `環境代碼 SRCMD 命令行命令`
#---
# ex: 3 SRCMD echo hi
### 應用程式
# 在船塢工人容器環境中，
# tmux.conf 文件的 `set -g default-terminal "screen-256color"` 命令不起作用
3 SRCMD alias tmux="tmux -2"
2 SRCMD alias mintty="/bin/mintty.exe -i /Cygwin-Terminal.ico -D"
2 SRCMD alias mintty.bgexec="mintty -w hide -e"
1 SRCMD alias open="xdg-open"
2 SRCMD alias open="cygstart" # explorer.exe 由微軟開發
### 移動指令
2 SRCMD alias ys.cd.ProgramFile86="cd '[[win_ProgramFile86]]'"
2 SRCMD alias ys.cd.User =-------= ="cd '[[win_UserProFile]]'"
2 SRCMD alias ys.cd.Desktop =----= ="cd '[[win_UserProFile]]/Desktop'"
2 SRCMD alias ys.cd.Download =---= ="cd '[[win_UserProFile]]/Downloads'"
### 連線
3 SRCMD alias ys.link.ptt="ssh bbsu@ptt.cc"
# kubectl logs onesg-website-frontend-6b7bcf977b-pkh6j \
# kubectl get pods \
# kubectl exec -it onesg-website-frontend-6b7bcf977b-vqz5x bash




## OTHER BySelf ##
# 用途：
#   可普通的編寫殼層語法。
#---
# ex: echo "Hello World!"

# [[ysPath]]/lib.capp/envtree/lib/ysBash_note "[[ysPath]]/gitman/notepad.txt"

