[submodule "lib.capp/shbase"]
	path = lib.capp/shbase
	url = https://github.com/BwayCer/envtree.git
[submodule "lib.capp/envtree"]
	path = lib.capp/envtree
	url = https://github.com/BwayCer/envtree.git
