
## 對齊文字
# xxx ----*= xxx

## 指定環境
# Linux    1
# Cygwin   2


## 變數
# [[var]]
# var linux_nodeApp -------= $HOME/ys/capp/lib/nodeApp
# var win_ProgramFile86 ---= /cygdrive/c/Program Files (x86)
# var win_UserProFile -----= /cygdrive/c/Users/bwaycer


## 設置鏈結文件列表
2 LINK nmap -------= /cygdrive/c/Cer/capp/nmap/nmap.exe
2 LINK node -------= /cygdrive/c/Cer/capp/node/node.exe
2 LINK ffmpeg -----= /cygdrive/c/Cer/capp/ffmpeg/bin/ffmpeg.exe
2 LINK ffplay -----= /cygdrive/c/Cer/capp/ffmpeg/bin/ffplay.exe
2 LINK ffprobe ----= /cygdrive/c/Cer/capp/ffmpeg/bin/ffprobe.exe
2 LINK note -------= [[win_ProgramFile86]]/Notepad++/notepad++.exe
2 LINK chrome -----= [[win_ProgramFile86]]/Google/Chrome/Application/chrome.exe
2 LINK vmplayer ---= [[win_ProgramFile86]]/VMware/VMware Player/vmplayer.exe


## 設置環境變數列表
3 PATH /capp/bin
3 PATH /capp/lib/nodeApp/node_modules/.bin


## 設置命令行環境列表
3 SOURCE /capp/bash_about/bashBase # 命令行基礎設定


## 指令集
### 系統環境變數
1 SRCMD export Cer="/mnt/hgfs/Cer"
# 不明白 /cygdrive/c/ 與 C:/ 的差異
# 但是 node 好像呼叫決對路徑會冠上 C:/
2 SRCMD export Cer="/cygdrive/c/Cer"
### 應用程式
3 SRCMD alias tmux="tmux -2"
1 SRCMD alias open="xdg-open"
1 SRCMD alias jsdoc.conf="jsdoc -c [[linux_nodeApp]]/config/jsdoc/conf.json"
2 SRCMD alias open="cygstart" # explorer.exe 由微軟開發
### 移動指令
3 SRCMD alias ys.cd.Cer="cd $Cer"
2 SRCMD alias ys.cd.ProgramFile86="cd '[[win_ProgramFile86]]'"
2 SRCMD alias ys.cd.User="cd     '[[win_UserProFile]]'"
2 SRCMD alias ys.cd.Desktop="cd  '[[win_UserProFile]]/Desktop'"
2 SRCMD alias ys.cd.Download="cd '[[win_UserProFile]]/Downloads'"
### 連線
3 SRCMD alias ys.link.ptt="ssh bbsu@ptt.cc"


## nvm
# 不加 &> /dev/null 這句的話每次載入就會跳出提示：
# nvm is not compatible with the npm config "prefix" option:
# currently set to "/path/to/.nvm/versions/node/v8.x.x"
# Run `nvm use --delete-prefix v8.x.x --silent` to unset it.
1 SRCMD export NVM_DIR="$HOME/.nvm"
1 SRCMD [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" &> /dev/null  # This loads nvm
1 SRCMD [ -s "$NVM_DIR/bash_completion" ] && . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
1 SRCMD alias nvm.enable="nvm use --delete-prefix node"
# 1 SRCMD nvm use --delete-prefix node --silent



##
# OTHER BySelf
##

